.thankful_eyes .highlight .linenos {
    border-right: 1px solid #708090;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    color: #bebec5;
}

.thankful_eyes .highlight {
    background-color: #122b3b;
    color: #faf6e4;
}

.thankful_eyes .highlight .gl {
    color: #dee5e7;
    background-color: #4e5d62;
}

.thankful_eyes .highlight .c, .thankful_eyes .highlight .cd, .thankful_eyes .highlight .cm, .thankful_eyes .highlight .c1, .thankful_eyes .highlight .cs {
    color: #6c8b9f;
    font-style: italic;
}

.thankful_eyes .highlight .cp {
    color: #b2fd6d;
    font-style: italic;
}

.thankful_eyes .highlight .err {
    color: #fefeec;
    background-color: #cc0000;
}

.thankful_eyes .highlight .gr {
    color: #fefeec;
    background-color: #cc0000;
}

.thankful_eyes .highlight .k, .thankful_eyes .highlight .kd, .thankful_eyes .highlight .kv {
    color: #f6dd62;
}

.thankful_eyes .highlight .o, .thankful_eyes .highlight .ow {
    color: #4df4ff;
}

.thankful_eyes .highlight .p, .thankful_eyes .highlight .pi {
    color: #4df4ff;
}

.thankful_eyes .highlight .gd {
    color: #cc0000;
}

.thankful_eyes .highlight .gi {
    color: #b2fd6d;
}

.thankful_eyes .highlight .ge {
    font-style: italic;
}

.thankful_eyes .highlight .gs {
}

.thankful_eyes .highlight .gt {
    color: #dee5e7;
    background-color: #4e5d62;
}

.thankful_eyes .highlight .kc {
    color: #f696db;
}

.thankful_eyes .highlight .kn {
    color: #ffb000;
}

.thankful_eyes .highlight .kp {
    color: #ffb000;
}

.thankful_eyes .highlight .kr {
    color: #ffb000;
}

.thankful_eyes .highlight .gh {
    color: #ffb000;
}

.thankful_eyes .highlight .gu {
    color: #ffb000;
}

.thankful_eyes .highlight .kt {
    color: #b2fd6d;
}

.thankful_eyes .highlight .no {
    color: #b2fd6d;
}

.thankful_eyes .highlight .nc {
    color: #b2fd6d;
}

.thankful_eyes .highlight .nd {
    color: #b2fd6d;
}

.thankful_eyes .highlight .nn {
    color: #b2fd6d;
}

.thankful_eyes .highlight .bp {
    color: #b2fd6d;
}

.thankful_eyes .highlight .ne {
    color: #b2fd6d;
}

.thankful_eyes .highlight .nl {
    color: #ffb000;
}

.thankful_eyes .highlight .nt {
    color: #ffb000;
}

.thankful_eyes .highlight .n {
    color: #faf6e4;
}

.thankful_eyes .highlight .m, .thankful_eyes .highlight .mf, .thankful_eyes .highlight .mh, .thankful_eyes .highlight .mi, .thankful_eyes .highlight .il, .thankful_eyes .highlight .mo, .thankful_eyes .highlight .mb, .thankful_eyes .highlight .mx {
    color: #f696db;
}

.thankful_eyes .highlight .ld {
    color: #f696db;
}

.thankful_eyes .highlight .ss {
    color: #f696db;
}

.thankful_eyes .highlight .s, .thankful_eyes .highlight .sb, .thankful_eyes .highlight .sd, .thankful_eyes .highlight .s2, .thankful_eyes .highlight .sh, .thankful_eyes .highlight .sx, .thankful_eyes .highlight .sr, .thankful_eyes .highlight .s1 {
    color: #fff0a6;
}

.thankful_eyes .highlight .se {
    color: #4df4ff;
}

.thankful_eyes .highlight .sc {
    color: #4df4ff;
}

.thankful_eyes .highlight .si {
    color: #4df4ff;
}

.thankful_eyes .highlight .nb {
}

.thankful_eyes .highlight .ni {
    color: #999999;
}

.thankful_eyes .highlight .w {
    color: #BBBBBB;
}

.thankful_eyes .highlight .nf {
    color: #a8e1fe;
}

.thankful_eyes .highlight .py {
    color: #a8e1fe;
}

.thankful_eyes .highlight .na {
    color: #a8e1fe;
}

.thankful_eyes .highlight .nv, .thankful_eyes .highlight .vc, .thankful_eyes .highlight .vg, .thankful_eyes .highlight .vi {
    color: #a8e1fe;
}