.rmdcaution, .rmdinsight, .rmdexercise, .rmdtip, .rmdnoicon {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
} 
.rmdcaution {
  background-image: url("../img/icons/caution.png");
}
.rmdinsight {
  background-image: url("../img/icons/insight.png");
}
.rmdexercise {
  background-image: url("../img/icons/exercise.png");
}
.rmdtip {
  background-image: url("../img/icons/tip.png");
}
.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p {
  text-align: justify;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: #fffff8; /*#008cff;*/
    background: #cd0050;
    text-decoration: none;
}

/* so that before and after aren't treated the same as the toc, because why would they? */
.book .book-summary ul.summary li.before a {
  color: #cd0050;
  text-decoration: none;
  font-size: 125%;
  font-variant: small-caps;
  font-weight: 500;
}


/* so that before and after aren't treated the same as the toc, because why would they? */
.book .book-summary ul.summary li.beforeimg a {
  background-color: transparent;
}


.book .book-summary ul.summary li.before a:hover,
.book .book-summary ul.summary li.before li.active>a {
  color: #fffff8;  /*#6197D5*/
  background-color: 0 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color:#cd0050;
}