.rmdcaution, .rmdinsight, .rmdexercise, .rmdtip, .rmdnoicon {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
} 
.rmdcaution {
  background-image: url("../img/icons/caution.png");
}
.rmdinsight {
  background-image: url("../img/icons/insight.png");
}
.rmdexercise {
  background-image: url("../img/icons/exercise.png");
}
.rmdtip {
  background-image: url("../img/icons/tip.png");
}

div.rmdcaution, div.rmdinsight, div.rmdexercise, div.rmdtip {
  padding: 1em 1em 1em 4em;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  }
div.rmdnoicon {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  }
div.rmdcaution {
  background-image: url("../img/icons/caution.png");
}
div.rmdinsight {
  background-image: url("../img/icons/insight.png");
}
div.rmdexercise {
  background-image: url("../img/icons/exercise.png");
}
div.rmdtip {
  background-image: url("../img/icons/tip.png");
}


.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}
p.caption {
  color: #777;
  margin-top: 10px;
  font-style: italic;
  margin-right: 10%;
  margin-left: 10%;  
  text-align: center;
}
p {
  text-align: justify;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* toc area general */
.book .book-summary {
    position: absolute;
    font-family: "Open Sans", 'Helvetica Neue', Roboto, sans-serif;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;  /**/
    background: #cf1052; /*#f5f5f540;*/ /* #eaf5fb;  #d9edf7#bdcadb #3572D9 #fafafa*/
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

/* nav/menu area */
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    color: #fffff8; /*#364149;*/ /**/
    padding: 8px 25px;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: #cf1052; /*#fffff8;*/ /*#008cff;*/
    background: #fffff8; /*#00b4a1;*/ /*#fffff8;*/ /*#cf1052;*/
    text-decoration: none;
}

/* part */
.book .book-summary ul.summary li span {
    cursor: not-allowed;
    opacity: .5;
    filter: alpha(opacity=30);
}

/* so that before and after aren't treated the same as the toc, because why would they? */
.book .book-summary ul.summary li.before a {
  color: #fffff8; /*#cf1052;*/
  text-decoration: none;
  font-size: 125%;
  font-variant: small-caps;
  font-weight: 500;
}


/* so that before and after aren't treated the same as the toc, because why would they? */
.book .book-summary ul.summary li.beforeimg a {
  background-color: transparent;
}


.book .book-summary ul.summary li.before a:hover,
.book .book-summary ul.summary li.before li.active>a {
  color: #cf1052;  /*#fffff8;*/  /*#6197D5*/
  background-color: 0 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color:#cf1052; /*#cf1052;*/
}
h1 { 
  border-bottom: 2px solid #cf1052;
}


div.theorem, div.definition {
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
    /*background-color: #dadada;*/
    border: 1px solid #ccc;
    border-color: #cf1052; /*#cf1052;*/
    /*border-bottom: 1px solid #ccc;*/ 
    border-radius: 5px;    
    /*margin: 5px;*/ 
    /*text-indent: 23px; */   
}


.book .book-body .page-wrapper .page-inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0 40px;
}


/* From https://otexts.com/fpp2/index.html */

#header .title {
  margin: 0EM;
  padding-left: 20px;
  padding-bottom: 0em;
  color: #fffff8;
  border-radius: 25px 25px 0px 0px;
  border-bottom: 0px;
  background: #cf1052;
  font-size: 28pt;
  line-height: 65px;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
}
#header .subtitle em {
  font-style: normal;
}

#header .author {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 0em;
  color: #cf1052;
  background: #f4f7f7;
  font-size: 18pt;
  font-style: normal;
  font-weight: normal;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
}
#header .author em {
  font-style: normal;
}


#header .date {
  font-style: normal;
  border-radius: 0px 0px 25px 25px;
  padding-left: 20px;
  color: #cf1052;
  background: #f4f7f7;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book .book-summary .book-search {
  color: #f4f7f7;
}
.book .book-summary .book-search input,
.book .book-summary .book-search input:focus,
.book .book-summary .book-search input:hover {
  color: #f4f7f7;
}

.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn-success {
    color: #f4f7f7;
    background-color: #cf1052;
    border-color: #cf1052;
    border-radius: 6px;
}

.btn {
    padding: 9px 14px;
    font-size: 19px;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
    border-radius: 6px;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #f4f7f7;
    background-color: #cf1052;
    border-color: #cf1052;
    border-radius: 6px;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 9px 14px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
}

span.search-highlight {
    background-color: #00b4a1;
}

/*From https://yongfu.name/Rmd_ref/#16_printing_bookdown_to_pdf
To print the pdf from the html browser*/

@media print {
  div.level1 { 
    page-break-before: always;}
  img {
    display: block;
  }
  img, table, ul, ol, .code-snippet, blockquote, pre {
      page-break-inside: avoid;
  }
}


/* hyppthesis to annotate */


.rmdcaution, .rmdinsight, .rmdexercise, .rmdtip, .rmdnoicon {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
} 
.rmdcaution {
  background-image: url("../img/icons/caution.png");
}


.rmdreview {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  position:relative;
}

.rmdreview:before {
    content: "\f0e6";
    font-family: FontAwesome;
    left:15px;
    position:absolute;
    top:5px;
    bottom: 0px;
    font-size: 30px;
 }
 
.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}