.rmdcaution, .rmdinsight, .rmdexercise, .rmdtip, .rmdnoicon {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
} 
.rmdcaution {
  background-image: url("../img/icons/caution.png");
}
.rmdinsight {
  background-image: url("../img/icons/insight.png");
}
.rmdexercise {
  background-image: url("../img/icons/exercise.png");
}
.rmdtip {
  background-image: url("../img/icons/tip.png");
}
.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p {
  text-align: justify;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
