---
---
{{reference}}

<!-- {% case {{entry.type}} %}
{% when 'article' %}
<span class="label label-success">Journal</span>
{% when 'conference' %}
<span class="label label-danger">Conference</span>
{% when 'phdthesis' %}
<span class="label label-warning">Ph. D. dissertation</span>
{% when 'masterthesis' %}
<span class="label label-warning">Master thesis</span>
{% else %}
else
{% endcase %} -->

<div id="{{key}}-materials">
  <ul class="nav nav-pills">
    {% if entry.file %}
    <li><a href="{{entry.file}}">PDF</a></li>
    {% endif %}

    {% if entry.slides %}
    <li><a href="{{entry.slides}}">Slides</a></li>
    {% endif %}

    {% if entry.abstract %}
    <li><a data-toggle="collapse" href="#{{key}}-abstract">Abstract</a></li>
    {% endif %}

<!--     <li><a data-toggle="collapse" href="#{{key}}-bibtex">BibTeX</a></li>
 -->  </ul>

  {% if entry.abstract %}
  <p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
  {% endif %}

<!--   <pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre> -->

</div>

